MONGODB_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_EXPIRES_IN="30d" #jwt standard time
NODE_ENV="development"
NEXT_PUBLIC_TICKET_AVAILABLE=true
NEXT_PUBLIC_TICKET_REDIRECT_URL="/dashboard"
SITE_URL="https://connect.innovatexcom.xyz"
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
BREVO_MAIL_API_KEY=
REDIS_URL=
MAILTRAP_TOKEN=
MAILTRAP_SENDER_MAIL=
USE_MAILTRAP=1
RAZOR_PAY_WEBHOOK_SECRET=
NEXT_PUBLIC_RAZOR_PAY_KEY_ID=
RAZOR_PAY_KEY_SECRET=
TICKET_PRICE_IN_INR=100 #Ticket price else set to 100
TICKET_ACCEPTANCE_TIME_IN_HOURS=24