MONGODB_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_EXPIRES_IN="30d" #jwt standard time
NODE_ENV="development"
NEXT_PUBLIC_TICKET_AVAILABLE=true
NEXT_PUBLIC_TICKET_REDIRECT_URL="/dashboard"
SITE_URL="https://connect.innovatexcom.xyz"
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=